@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700|Electrolize);

:root {
  /* --background-color: #02161a; */
  --background-color: #010d0f;
  --text-color: #cccccc;
  --border: cyan;
  --animation-time: 7s;
  --repeating-gradient: repeating-linear-gradient(
    0deg,
    #00ffff00 0px,
    #00ffff00 1px,
    #00ffff11 1px,
    #00ffff11 2px
  );
  --alert-color: #00ff00;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

a,button,#partjs canvas{
  pointer-events: all;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Electrolize, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  animation: none 3s linear infinite;
  -webkit-animation: none 3s linear infinite;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.st0 {
  stroke-dasharray: 2050 1000 40 80 1500 1000 2050;
  animation: dash 20s infinite linear;
  -webkit-animation: dash 20s infinite linear;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 4000;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 4000;
  }
}

.st0 {
  fill: none;
  stroke: #00c3e5;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke-dasharray: 60, 100, 300, 120, 220, 24;
}

#overlap {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-image: var(--repeating-gradient);
  pointer-events: none;
  animation: stips var(--animation-time) infinite linear;
  -webkit-animation: stips var(--animation-time) infinite linear;
  /*animation-play-state: paused;
  */
}

#main {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  overflow-y: scroll;
}

#box {
  position: relative;
  /*top: 5vh;
  height: 80vh;
  */
  top: 50vh;
  border-radius: 5px;
  height: 0vh;
  width: 90%;
  margin: auto;
  background: #010101aa;
  /*text-shadow: 0 0 3px #27e1fa;
  */
  border: 1px var(--border) solid;
  overflow-y: scroll;
  animation: boxStart 1 3s forwards ease,
    border infinite var(--animation-time) linear;
  -webkit-animation: boxStart 1 3s forwards ease,
    border infinite var(--animation-time) linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#box > h3 {
  padding: 7px;
  text-align: center;
  border-bottom: 1px solid var(--border);
  border-radius: 0px;
  background: #121212;
  position: sticky;
  top: 0;
  white-space: nowrap;
  overflow: scroll;
  margin: auto;
  animation: openHeader 1s 1 linear forwards;
  -webkit-animation: openHeader 1s 1 linear forwards;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  opacity: 0;
}

#console {
  padding: 5px;
  animation: border infinite var(--animation-time) linear;
  -webkit-animation: border infinite var(--animation-time) linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#typingConsole {
  font-size: 13px;
}

.prefix {
  color: cyan;
}

#page2 {
  display: none;
  padding: 10px;
}

#page2 > h2 {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  margin: 10px 10px;
  animation: blink 7s infinite linear;
  -webkit-animation: blink 7s infinite linear;
  font-size: 24px;
  color: cyan;
  text-shadow: 2px 2px 6px;
}

#page2 > img {
  width: 65%;
  max-width: 360px;
  margin: auto auto 2em auto;
  display: block;
  filter: drop-shadow(0px 0px 2px cyan);
  animation: rotate 1.5s linear infinite alternate;
  -webkit-animation: rotate 1.5s linear infinite alternate;
  opacity: 0;
  -webkit-filter: drop-shadow(0px 0px 2px cyan);
}

.time {
  text-align: center;
  font-size: 18px;
  color: #cccccc;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-animation: blink 7s 2s linear infinite;
  animation: blink 7s 2s linear infinite;
}

#time {
  color: lime;
  font-weight: normal;
}

#page2 #ourMsg {
  padding: 25px 10px;
  padding-top: 10px;
  margin: auto;
  margin-top: 25px;
  max-width: 600px;
  /*background-color: #023c3e;
  */
  background-color: #022627;
  border-left: transparent 2px solid;
  border-radius: 5px;
  color: cyan;
  opacity: 0;
}

#page2 #ourMsg > h3 {
  font-size: 24px;
  opacity: 0;
  animation: blink linear 7s 6s infinite;
  -webkit-animation: blink linear 7s 6s infinite;
}

#page2 #ourMsg > p {
  opacity: 0;
  text-align: justify;
  line-height: 1.3;
  margin-top: 10px;
  font-size: 1.1rem;
  animation: blink linear 7s 6s infinite;
  -webkit-animation: blink linear 7s 6s infinite;
}

.scrlc2 {
  position: absolute;
  inset: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scrlc3 {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-transition: -webkit-filter 100ms ease-out 0s;
  transition: -webkit-filter 100ms ease-out 0s;
  -o-transition: filter 100ms ease-out 0s;
  transition: filter 100ms ease-out 0s;
  transition: filter 100ms ease-out 0s, -webkit-filter 100ms ease-out 0s;
  -webkit-filter: drop-shadow(rgb(0, 248, 248) 0px 0px 2px);
  filter: drop-shadow(rgb(0, 248, 248) 0px 0px 2px);
}

.scrlc5 {
  position: relative;
  overflow-x: hidden;
}

.scrlc4 {
  stroke-width: 0;
  stroke: transparent;
  fill: rgb(0, 248, 248);
  opacity: 0.1;
  -webkit-transition: fill 100ms ease-out 0s;
  -o-transition: fill 100ms ease-out 0s;
  transition: fill 100ms ease-out 0s;
}

.scrlc1 {
  position: relative;
  display: inline-block;
  padding: 10px;
  width: 100%;
  margin: auto;
  display: block;
  margin-top: 30px;
  max-width: 600px;
  height: 44px;
}

.css-13o7eu2 {
  display: block;
}

.scrlStroke {
  stroke-width: 1;
  stroke: rgb(0, 248, 248);
  vector-effect: non-scaling-stroke;
  fill: transparent;
  -webkit-transition: stroke 100ms ease-out 0s;
  -o-transition: stroke 100ms ease-out 0s;
  transition: stroke 100ms ease-out 0s;
  stroke-linecap: square;
  animation: strokeAnimation 5s infinite linear;
  -webkit-animation: strokeAnimation 5s infinite linear;
}

.scrlc1 p {
  white-space: nowrap;
  animation: blink 7s infinite linear;
  color: cyan;
  -webkit-animation: blink 7s infinite linear;
  font-size: 18px;
  text-transform: uppercase;
  /* font-weight: bold; */
}

.scrlc1 p a {
  color: lime;
  text-decoration: none;
}

#alertSuccess,
#alertError,
#alertVPN {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #12121299;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1001;
  display: none;
}

#alertSuccess .container,
#alertError .container,
#alertVPN .container {
  width: 0px;
  height: 0px;
  max-width: 400px;
  border: 2px var(--alert-color) solid;
  /*background: #010101;
  background: #013031;
  width: 80%;
  height: 170px;*/
  background: #00421a;
  text-align: center;
  color: var(--alert-color);
  animation: successAnimation infinite var(--animation-time) linear;
  -webkit-animation: successAnimation infinite var(--animation-time) linear;
}

#alertVPN .container {
  height: auto;
}

#alertError .container,
#alertVPN .container {
  background: #420000;
}

#alertSuccess .container > h2,
#alertError .container > h2,
#alertVPN .container > h2 {
  margin-top: 15px;
  color: inherit;
}

#alertVPN p {
  margin-top: 5px;
  padding: 5px;
}

.btnc1 {
  position: relative;
  padding: 5px 30px;
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  line-height: 1;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: rgb(0 248 248) 0px 0px 1px;
  color: inherit;
  cursor: pointer;
  transition: color 100ms ease-out 0s, text-shadow 100ms ease-out 0s;
  margin-top: 70px;
  -webkit-transition: color 100ms ease-out 0s, text-shadow 100ms ease-out 0s;
  -moz-transition: color 100ms ease-out 0s, text-shadow 100ms ease-out 0s;
  -ms-transition: color 100ms ease-out 0s, text-shadow 100ms ease-out 0s;
  -o-transition: color 100ms ease-out 0s, text-shadow 100ms ease-out 0s;
  display: none;
}

#alertVPN .btnc1 {
  margin-bottom: 15px;
  margin-top: 35px;
}

.btnc2 {
  position: absolute;
  inset: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btnc3 {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-transition: -webkit-filter 100ms ease-out 0s;
  transition: -webkit-filter 100ms ease-out 0s;
  transition: filter 100ms ease-out 0s;
  transition: filter 100ms ease-out 0s, -webkit-filter 100ms ease-out 0s;
  filter: drop-shadow(var(--alert-color) 0px 0px 2px);
  -webkit-filter: drop-shadow(var(--alert-color) 0px 0px 2px);
  -webkit-transition: filter 100ms ease-out 0s;
  -moz-transition: filter 100ms ease-out 0s;
  -ms-transition: filter 100ms ease-out 0s;
  -o-transition: filter 100ms ease-out 0s;
}

.btnc4 {
  position: relative;
  display: inline-block;
}

.btnc5 {
  display: inline-block;
  z-index: 1;
}

.jayhind {
  text-align: center;
  margin-top: 18px;
  font-size: 26px;
  animation: blink 9s infinite linear;
  -webkit-animation: blink 9s infinite linear;
}

@-webkit-keyframes boxStart {
  from {
    width: 0%;
  }

  25% {
    width: 90%;
    top: 50vh;
    height: 0vh;
  }

  to {
    top: 5vh;
    height: 80vh;
  }
}

@keyframes boxStart {
  from {
    width: 0%;
  }

  25% {
    width: 90%;
    top: 50vh;
    height: 0vh;
  }

  to {
    top: 5vh;
    height: 80vh;
  }
}

@-webkit-keyframes boxClose {
  from {
    top: 5vh;
    height: 80vh;
  }

  50% {
    top: 50vh;
    height: 0vh;
    width: 90%;
  }

  90% {
    width: 0%;
    display: block;
  }

  100% {
    width: 0%;
    display: none !important;
  }
}

@keyframes boxClose {
  from {
    top: 5vh;
    height: 80vh;
  }

  50% {
    top: 50vh;
    height: 0vh;
    width: 90%;
  }

  90% {
    width: 0%;
    display: block;
  }

  100% {
    width: 0%;
    display: none !important;
  }
}

@-webkit-keyframes stips {
  0%,
  17%,
  23%,
  58%,
  62%,
  66%,
  100% {
    background-image: var(--repeating-gradient);
  }

  20%,
  61%,
  63% {
    background-image: repeating-linear-gradient(
      0deg,
      #00ffff00 0px,
      #00ffff00 1px,
      #00ffff11 1px,
      #00ffff11 5px
    );
  }
}

@keyframes stips {
  0%,
  17%,
  23%,
  58%,
  62%,
  66%,
  100% {
    background-image: var(--repeating-gradient);
  }

  20%,
  61%,
  63% {
    background-image: -o-repeating-linear-gradient(
      bottom,
      #00ffff00 0px,
      #00ffff00 1px,
      #00ffff11 1px,
      #00ffff11 5px
    );
    background-image: repeating-linear-gradient(
      0deg,
      #00ffff00 0px,
      #00ffff00 1px,
      #00ffff11 1px,
      #00ffff11 5px
    );
  }
}

@-webkit-keyframes openHeader {
  0% {
    border: 1px transparent solid;
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
  }

  20% {
    opacity: 1;
    border: 1px var(--border) solid;
    width: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  to {
    width: 100%;
    padding: 7px;
    border: 1px var(--border) solid;
    opacity: 1;
  }
}

@keyframes openHeader {
  0% {
    border: 1px transparent solid;
    width: 0px;
    padding-left: 0;
    padding-right: 0;
    opacity: 0;
  }

  20% {
    opacity: 1;
    border: 1px var(--border) solid;
    width: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  to {
    width: 100%;
    padding: 7px;
    border: 1px var(--border) solid;
    opacity: 1;
  }
}

@-webkit-keyframes border {
  0%,
  19%,
  21%,
  60%,
  62%,
  64%,
  100% {
    border-color: var(--border);
  }

  20%,
  61%,
  63% {
    border-color: transparent;
  }
}

@keyframes border {
  0%,
  19%,
  21%,
  60%,
  62%,
  64%,
  100% {
    border-color: var(--border);
  }

  20%,
  61%,
  63% {
    border-color: transparent;
  }
}

@-webkit-keyframes successAnimation {
  0%,
  19%,
  21%,
  60%,
  62%,
  64%,
  100% {
    border: 2px var(--alert-color) solid;
    color: var(--alert-color);
  }

  20%,
  61%,
  63% {
    border-color: transparent;
    color: transparent;
  }
}

@keyframes successAnimation {
  0%,
  19%,
  21%,
  60%,
  62%,
  64%,
  100% {
    border: 2px var(--alert-color) solid;
    color: var(--alert-color);
  }

  20%,
  61%,
  63% {
    border-color: transparent;
    color: transparent;
  }
}

@-webkit-keyframes successShadow {
  1%,
  15%,
  35%,
  55%,
  75%,
  95% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  2%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-box-shadow: inset var(--alert-color) 0px 0px 30px 0px;
    box-shadow: inset var(--alert-color) 0px 0px 30px 0px;
  }
}

@keyframes successShadow {
  1%,
  15%,
  35%,
  55%,
  75%,
  95% {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  2%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-box-shadow: inset var(--alert-color) 0px 0px 30px 0px;
    box-shadow: inset var(--alert-color) 0px 0px 30px 0px;
  }
}

@-webkit-keyframes blink {
  0%,
  2%,
  4%,
  6% {
    opacity: 1;
  }

  1%,
  3%,
  5% {
    opacity: 0;
  }

  7%,
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  2%,
  4%,
  6% {
    opacity: 1;
  }

  1%,
  3%,
  5% {
    opacity: 0;
  }

  7%,
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes strokeAnimation {
  0%,
  18%,
  22%,
  59%,
  63%,
  66%,
  100% {
    stroke: rgb(0, 248, 248);
  }

  20%,
  61%,
  64% {
    stroke: transparent;
  }
}

@keyframes strokeAnimation {
  0%,
  18%,
  22%,
  59%,
  63%,
  66%,
  100% {
    stroke: rgb(0, 248, 248);
  }

  20%,
  61%,
  64% {
    stroke: transparent;
  }
}

@-webkit-keyframes rotate {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
  }
}

#partjs {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #010d0f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: none;
}

::-webkit-scrollbar-thumb:hover {
  background: none;
}

#views::after {
  content: "100";
}